@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color: #000000;
    --background-color: #c7f0d9;
    --dark-color: #151515;
}


body{
    background-color:#ffe600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-pills {
    display: flex;
    justify-content: space-between; /* Distribuye el espacio entre los elementos */
    align-items: center; /* Alinea los ítems verticalmente en el centro */
}

.nav-item {
    margin: 0 10px; /* Añade separación horizontal entre los elementos */
    flex: 1; /* Hace que cada ítem ocupe el mismo ancho disponible */
    text-align: center;
}

.nav-link {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.nav-link i {
    display: block; /* Coloca el ícono arriba del texto */
    margin-bottom: 5px;
}

.nav-link:hover {
    color: #007bff; /* Cambia el color en hover si lo deseas */
}

img.float-start, img.float-end {
    width: 150px; /* Ajusta el tamaño de las imágenes según sea necesario */
    margin: 10px; /* Ajusta el margen si quieres un espaciado adicional */
}


.colorbanner {
    background-color: #589bff; /* Color de fondo del banner */
    padding: 20px;
  }
  
  .banner {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: space-between; /* Distribuye los elementos entre los lados izquierdo y derecho */
  }
  
  .banner-image {
    height: 150px;
  }
  
  .banner-text {
    max-width: 55%; /* Ajusta el tamaño del área de texto */
    text-align: center; /* Centra el texto horizontalmente */
    font-size: 1.5rem; /* Ajusta el tamaño de la fuente */
    font-weight: bold;
    color: white; /* Color del texto */
  }

 
  
  /* Alternativamente, si quieres un tamaño específico */
  .img-product {
    position: center;
    width: 300px; /* Ancho específico */
    height: 300px; /* Alto específico */
  }


  

/*              FOOTER          */
.footer{
    background-color: white;
}

.container-footer{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 1rem;
}

.menu-footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr) 20rem;
    gap: 3rem;
    justify-items: center;
}

.title-footer{
    font-weight: 600;
    font-size: 1.6rem;
    text-transform: uppercase;
}

.contact-info,
.information,
.my-account,
.newsletter{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-info ul,
.information ul,
.my-account ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-info ul li,
.information ul li,
.my-account ul li{
    list-style: none;
    color: black;
    font-size: 1.2rem;
    font-weight: 300;
}

.information ul li a,
.my-account ul li a{
    text-decoration: none;
    color: black;
    font-weight: 300;
}

.information ul li a:hover,
.my-account ul li a:hover{
    color: var(--dark-color);
}

.social-icons{
    display: flex;
    gap: 1.5rem;
}

.social-icons span{
    border-radius: 50%;
    width: 3rem;
    height: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons span i{
    color: black;
    font-size: 1.2rem;
}

.facebook{
    background-color: #3b5998;
}

.twitter{
    background-color: #00acee;
}

.youtube{
    background-color: #c4302b;
}

.whatsapp{
    background-color: #067e34;
}

.instagram{
    background-color: linear-gradient(
        #405de6,
        #833ab4,
        #c13584,
        #e1306c,
        #fd1d1d,
        #f56040,
        #fcaf45
        );
}

.content p{
    font-size: 1.2rem;
    color: black;
    font-weight: 300;
}

.content input{
    outline: none;
    background: none;
    border: none;
    border-bottom: 2px solid #ffe600;
    cursor: pointer;
    padding: 0.5rem 0 1.2rem;
    color:rgb(0, 0, 0);
    display: block;
    margin-bottom: 3rem;
    margin-top: 2rem;
    width: 100%;
    font-family: inherit;
}

.content input::-webkit-input-placeholder{
    color: #000000;
}

.content button{
    border: none;
    background-color: #ffe600 ;
    color: black;
    text-transform: uppercase;
    padding: 1rem 3rem;
    border-radius: 2rem;
    font-size: 1.4rem;
    font-family: inherit;
    cursor: pointer;
    font-weight: 600;
}

.content button:hover{
    background-color: blue;
    color: white;
}

.copyright{
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;

    border-top:  1px solid #ffffff;
}

.copyright p{
    font-weight: 400;
    font-size: 1.6rem;
}

table.dataTable {
    width: 100%;
    margin: 0 auto;
    font-size: 1rem;
    background-color: white;
  }
  
  .dataTables_wrapper .dataTables_paginate {
    float: right;
    background-color: white;
  }

  .colortabla {
    background-color: #ffffff; /* Color de fondo de la tabla */
    padding: 20px;
  }

  .colorcarrito{
    font-weight: 400;
    font-size: 1.6rem;
}